.Cadastro{
    width: 100vw; 
    max-width: 100vw;
    max-height:100vh;
    background-repeat: no-repeat;
    background-size: 30vw;
    overflow-x: hidden; 
    overflow-y: hidden; 
}
.background{
    display:flex; 
    align-items: center; 
    background-image: url(/images/SakuraLoginFinal.png);
    background-repeat: no-repeat;
    background-size: 50vw;
    width: 100vw;
    justify-content: center;
    height: 100vh;
    flex-direction: column; 
    background-position: -40% bottom;
}
.background2{
    background-image: url(/images/ramo-cerejeira.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 22vw;
    width: 100vw;
    height: 100vh;
}
.Cadastro .base{
    max-width: 100vw;
    padding-bottom: 10vw;
    display:flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;  
}

.Cadastro .container{
    align-items: center;
    width: 100vw;
    max-width: 100vw;
    display:flex; 
    justify-content: center;
    flex-direction: column; 
}
.containbook{
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: auto;
    height: auto;
    margin-right: 20vw;
    padding-left: 27%;
}
.Cadastro .book{
    width: 100vw;
}
.Cadastro .textbook{
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: small;
    padding-left: -5%;
    right: 0;
    padding-right: 0;
    padding-top: 2%;
    font-size: 2rem;
    height: 5vw;
}
.dados1aux{
    position: absolute;
    width: 50%;
    left: 0;
    padding-left: 28%;
}
.dados2aux{
    position: absolute;
    width: 50%;
    left:50%;
    padding-left: 5%;
}
.dados1{
    padding-top: 1.3vw;
    padding-left: 3vw;
    resize: inherit;
    align-items: center;
    font-size: larger;
    font-family: 'Quicksand';
    font-weight: 800;
    font-size: 1.2rem;
    width: auto;
    height: auto;
}
.dados2{
    position: absolute;
    margin-left: 7vw;
    max-width: 90vw;
    max-height: 90vw;
    margin-top: 1.3vw;
    align-items: center;
    font-family: 'Quicksand';
    font-weight: 800;
    font-size: 1.2rem;
}
.posicaocaneta{
    position: absolute;
    right: 0;
    margin-right: -12%;
    bottom: 0;
    margin-bottom: 1%;
    padding-top: 10%;

}
.caneta{
    margin-top: 2vw;
    max-width: 25vw;
    max-height: 25vw;
    width: auto;
    height: auto;
}
.Cadastro .button{
    font-family: 'Quicksand';
    font-weight: bolder;
    right:0;
    bottom: 0;
}