.Cadastro{
    height: 100%;
    width: 100vw;
    display:flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;  
}
.Cadastro .base{
    background: rgb(122, 56, 56); 
    height: 100%;
    width: 100vw;
    display:flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;  
}

.Cadastro .container{
    align-items: center;
    padding-top: 5%;
    max-width: 100%;
    display:flex; 
    justify-content: center;
    flex-direction: column; 
    padding-bottom: 50px;
}
.Cadastro .book{
    width: 500px;
}
.Cadastro .textbook{
    font-family: 'Quicksand';
    font-weight: 500;
}
