.Cadastro{
    height: 100%;
    width: 100vw;
    display:flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;  
}
.Cadastro .base{
    width: 100vw;
    display:flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;  
}

.Cadastro .container{
    align-items: center;
    padding-top: 5%;
    max-width: 100%;
    display:flex; 
    justify-content: center;
    flex-direction: column; 
    padding-bottom: 50px;
}
.Cadastro .book{
    width: 500px;
}
.Cadastro .textbook{
    font-family: 'Quicksand';
    font-weight: 500;
}
.dados1{
    margin-top: 20px;
    margin-left: 25px;
    align-items: center;
    font-size: larger;

}
.containbook{
    background-image: url(/images/LivroFinal2Cadastro.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 450px;
 
}
.dados2{
    margin-top: -365px;
    margin-left: 330px;
    align-items: center;
    font-size: larger;

}
.posicaocaneta{
    margin-left: 380px;
    margin-top: -100px;
}
.caneta{
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
}
