.container{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    max-width: 50%;  
    min-height: 100%; 
    align-items: center; 
    flex-grow: 1; 

} 
#within{
    align-items: center;
    max-width: 60%;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}
#form{
    max-width: 90%;
}
#HaiKai{ 
    min-height:100%;
    max-width: 100%; 
}
#sakura{ 
    height: 100%;   
    width: 50%; 
} 
#button{ 
    width: 300px; 
} 
.base{ 
    background: linear-gradient(90deg,pink,#cc0e74,#790c5a);
    height: 100%; 
    display:flex; 
    align-items: center; 
    justify-content: center; 
    background-size:400% 400%;
    animation: colors 20s ease infinite;
} 
.input{ 
    margin-left: 16px; 
    margin-right: 16px; 
} 
#formtext{
    font-family: 'Quicksand';
    font-weight: 400;
}
@keyframes colors{
    0% {
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}