.livro-carousel{
    margin-top: 5%;
    width: 180px;
    height: 275px;
}

.livro-info{
    font-family: 'Quicksand';
    font-size: 20px;
    color: white;
    display: flex;
    text-align: center;
    min-height: 120px;
}

.itens-carousel{
    align-items: center;
	padding: 2.25% 2.25%;
}

.container {
    align-items: center;
    display: flex;
}
