*{
    max-width: 100vw;
}
.section-2{
    background-image: url("/images/section-2.png");
    background-size:100vw;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height:100vh;
}

.TitleS2{
    padding-top: 2%;
    font-family: 'Quicksand';
    font-weight: 400;
}

.imagem_background{
    width: 100%;
    height: 45vw;
    background-position: center;
    background-size: cover;
}

.section-3{
    background-image: url("/images/livros/hai-kai.jpg");
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 70vw 22vh; 
    display: flex;
    flex-wrap: wrap;
    height:100vh;
    background-color: #733840;
}


.TitleS3{
    font-family: 'QuickSand';
    font-weight: 400;
    font-size: 4vw;
    color:white;
    padding-left: 3vw;
    padding-top: 5vh;
}

.TextoLivroS3{
    font-family: 'Quicksand';
    font-size: 1.8vw;
    color: white;
    padding-right: 10vw;
    margin-left: 10vw;
    max-width: 60vw;

}
.imagem_book{
    padding-top: 10vw;
    height: 70vh;
    padding-left: 70%;   
}

.section-4{
    background-image: url(/images/nossa-historia.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 55vw 10vh; 
    display: flex;
    flex-wrap: wrap;
    height:100vh;
    align-items: right;
}

.imagem_history{
    padding-top: 5%;
    height: 100vh;
    padding-left: 50%;   
}

.TitleS4{
    font-family: 'Quicksand';
    font-size: 4vw;
    padding-left: 5vw;
}

.TextoHistoriaS4{
    max-width: 50vw;
    padding-left: 9vw;
    font-size: 1.8vw;
}

@media only screen and (width < 800px){
    /*for cellphones*/
   .section-2{
       height: 35vh; 
       background-position: bottom right;
   }
   .TitleS2{
       font-size: 6vw;
   }
   .section-3{
       height: 40vh;
       background-size: 28%;
       background-position: 65vw 10vh;
   }
   .TextoLivroS3{
       font-weight: 600;
       font-size: 2.3vw;
   }
   .section-4{
       height: 35vh;
       background-size: 45%;
       background-position: 50vw 10vh;
   }
   .TitleS4{
       padding-top: 2vh;
   }
   .TextoHistoriaS4{
       max-width: 51vw;
       font-weight: 600;
       font-size: 2.2vw;
   }

}