.section-2{
    background-image: url("/images/section-2.png");
    background-size:100vw;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height:100vh;
}

.section-3{
    background-image: url("/images/livros/hai-kai.jpg");
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 70vw 22vh; 
    display: flex;
    flex-wrap: wrap;
    height:100vh;
    background-color: #733840;
}

.section-4{
    background-image: url(/images/nossa-historia.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 55vw 10vh; 
    display: flex;
    flex-wrap: wrap;
    height:100vh;
    align-items: right;
}


.imagem_background{
    width: 100%;
    height: 45vw;
    background-position: center;
    background-size: cover;
}
.imagem_book{
    padding-top: 10vw;
    height: 70vh;
    padding-left: 70%;   
}

.imagem_history{
    padding-top: 5%;
    height: 100vh;
    padding-left: 50%;   
}

.imagem_left{
    padding-right: 78%;
}
.TitleS2{
    padding-top: 2%;
    font-family: 'Quicksand';
    font-weight: 400;
}
.TitleS3{
    font-family: 'QuickSand';
    font-weight: 400;
    font-size: 4vw;
    color:white;
    padding-left: 3vw;
    padding-top: 5vh;
}

.TextoLivro{
    font-family: 'Quicksand';
    font-size: 1.8vw;
    color: white;
    padding-right: 10vw;
    margin-left: 10vw;
    max-width: 60vw;

}
.TitleS4{
    font-family: 'Quicksand';
    font-size: 4vw;
    padding-top: 5vh;
    padding-left: 5vw;
}