.livro{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
	margin: 10px;
    padding: 0 10px;
}

.img-format{
    margin-top: 60%;
    width: 180px;
    height: 275px;
}

.titulo-livro{
    font-family: 'Quicksand';
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: darkgray;
    display: flex;
    align-items: center;
    min-height: 70px;
}

.autor-livro{
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: 300;
    color: darkgray;
    display: flex;
    text-align: center;
}

.ver-livro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao{
    position: absolute;
    font-family: 'Quicksand';
    width: 110px;
    height: 40px;
    background-color:  #733840;
}

.format{
    background-color:  #733840;
}