.NossosLivros .section-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-image: url(/images/ramo-cerejeira-3.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: -63%;
    background-size: 35%;
}

.NossosLivros .section-2{
    flex-direction: flex;
    position: relative;
    background-color: #733840;
    margin-top: 25%;
    align-items: center;
    min-height: 600px;
    width: 100%;
}

.NossosLivros .section-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: white;
    margin-bottom: 155%;
}

.NossosLivros .imagem-right{
    margin-left: 69%;
    margin-top: -1%;
    margin-bottom: 5%;
    position: absolute;
}

.NossosLivros .imagem-left{
    margin-left: 20%;
    margin-top: -1%;
    position: relative;
}

.NossosLivros .container{
    margin-left: 5%;
    margin-right: 5%;
}

.subtitle{
    font-family: 'Quicksand';
    font-size: 50px;
    text-align: center;
    color: white;
    text-align: center;
}

.title{
    font-family: 'Quicksand';
    font-size: 50px;
    color: black;
    position: absolute;
    margin-top: 7%;
}


.search-left{
    position: absolute;
    transform: translate(50%, 400%);
}

.search-right{
    position: absolute;
    transform: translate(60%, 470%);
    width: 400px;
}

.livro-container{
    margin-top: -5%;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.inputs{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-left: 18%;
}

.input-right{
    display: flex;
    width:400px;
    align-items: center;
    font-family: 'Quicksand';
    color: #cccccc;
    margin-bottom: 1%;
}

.input-left{
    margin-bottom: 1%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    overflow:hidden;
}

.selectInput{
    border-radius:36px;
    overflow:hidden;
    background:#cccccc;
    border:0.5px solid #cccccc;
}

.selectBox{
    font-family: 'Quicksand';
    color: #cccccc;
    width:385px;
    height:32px;
    border-radius:1px;
    border:0px solid #cccccc;
}

@media (max-width: 800px){
    .NossosLivros{
        background-image: url(/images/branco.png);
    }

    .inputs{
        margin-left: 0%;
        padding: 1%;
    }

    .subtitle{
        font-size: 2.1rem;
    }
    
    .title{
        padding-top: 5%;
        font-size: 2.1rem;
    }

    .NossosLivros .section-3{
        margin-bottom: 5%;
    }
}