.NossosLivros .section-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.NossosLivros .section-2{
    flex-direction: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: #733840;
    margin-top: 25%;
}

.NossosLivros .section-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: white;
    margin-bottom: 10%;
}

.NossosLivros .imagem-right{
    margin-left: 70%;
    margin-top: -1%;
    margin-bottom: 5%;
    position: absolute;
}

.NossosLivros .imagem-left{
    margin-left: 20%;
    margin-top: -1%;
    position: relative;
}


.NossosLivros .container{
    margin-left: 5%;
    margin-right: 5%;
}

.title{
    font-family: 'Quicksand';
    font-size: 50px;
    color: black;
    position: absolute;
    margin-top: 7%;
}

.subtitle{
    font-family: 'Quicksand';
    font-size: 50px;
    color: white;
    position: absolute;
    margin-top: 3%;
}

.search-left{
    position: absolute;
    transform: translate(50%, 400%);
}

.search-right{
    position: absolute;
    transform: translate(60%, 470%);
    width: 400px;
}

.livro-container{
    margin-top: -5%;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}